<html>

<head>
    <title>Maikel.uk - {{title}}</title>
    <meta property="og:url" content={{ address }} />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:site_name" content="Maikel.uk">
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content={{imgINSECURE}} />
    <meta property="og:image:secure_url" content={{imgSECURE}} />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image:alt" content="Maikel.uk logo" />
    <meta property="fb:app_id" content="117025065673975" />
    <meta property="article:author" content="https://www.facebook.com/maikeldotuk">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@maikeldotuk" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{{description}}}" />
    <meta name="twitter:image" content={{imgSECURE}} />
</head>

<body>
    <a href="http://www.maikel.uk">http://www.maikel.uk
        
   </a><br>

    <a href="http://www.maikel.uk/skills">http://www.maikel.uk/skills
        
   </a><br>

    <a href="http://www.maikel.uk/about">http://www.maikel.uk/about
        
   </a><br>

    <a href="http://www.maikel.uk/contact">http://www.maikel.uk/contact
        
   </a><br>

    <a href="http://www.maikel.uk/">http://www.maikel.uk/
        
   </a><br><hr>

Address = {{ address }}
<br>
    Title = {{ title }}
<br>
imgULR = {{ imgINSECURE}}
    <br>
    imgULR = {{ imgSECURE}}
<br>
    description = {{ description }}
<br>
<img src="{{imgSECURE}}">


</body>

</html>